        * {
            margin: auto;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #dff9fb;
        }
        
        .spinner {
            border: 8px solid rgba(0, 0, 0, .1);
            border-left-color: #64f082;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
        
        @keyframes spin {
            to {
                transform: rotate(360deg)
            }
        }